<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.mp.dao.UserMapper">
    <select id="selectAll" resultType="com.bdqn.mp.pojo.User">
    select * from user ${ew.customSqlSegment}
  </select>

    <!-- 实现多表联查的分页功能-->
    <select id="selectUserPage" resultType="com.bdqn.mp.pojo.User">
        select * from user ${ew.customSqlSegment}
    </select>
</mapper>